@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" >Unidos Da Vila</h1>
    <img class="escudo" src="https://www.esporteelazerleme.com.br/_pages/_administrador/_equipes/_emblemas/960fd537232b1c65ae35037c264b14f2.jpeg" alt="Emblema">
</div>
