@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" ; style="background-image: linear-gradient( to right, red, black ), color = white; ">UnidosDaVila</h1>
    
</div>
