@model Tecnico

<html>
<head>
    <title>Detalhes do Técnico</title>
</head>
<body>
    <h5>@Model.Logar()</h5>
    <h1>ESTRATÉGIA</h1>
    <p>Estrategia: @Model.GetEstrategia()</p>

 

</body>
</html>

